@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");



header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    background-color: #401E01;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#menuButton {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}

#menuButton a {
    color: #DFEFF2;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    position: relative;
}

ul a {
    color: #DFEFF2;
}

ul li {
    padding: 5px;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/*Mobile layout*/
#hamburgerIcon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburgerIcon div {
    width: 35px;
    height: 3px;
    background-color: #DFEFF2;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobileMenu {
    background-color: rgb(64, 30, 1, 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobileMenu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: 30%;
    width: 100%;
}

.mobileMenu li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }

    #hamburgerIcon {
        display: block;
    }

}